.navmenu-container ::deep .mud-paper {
    background-color: var(--fondo-drawer) !important;
    height: 100vh;
    overflow-y: hidden !important;
    border-right: 1px solid var(--borde-drawer);
    transition: background-color 250ms ease-in-out;
}

.navmenu-container ::deep .mud-text-secondary,
.navmenu-container ::deep .mud-paper p {
    color: var(--text-secondary) !important;
}

.navmenu-container ::deep .mud-nav-link {
    color: var(--text-primary) !important;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.navmenu-container ::deep .mud-nav-link .mud-icon-root {
    color: var(--text-secondary) !important;
}

.navmenu-container ::deep .mud-nav-link.active {
    background-color: var(--seleccion) !important;
    color: var(--mud-palette-primary) !important;
}

.navmenu-container ::deep .mud-nav-link:hover:not(.active) {
    background-color: var(--hover) !important;
}

.navmenu-container ::deep .mud-nav-group {
    border-bottom: 1px solid var(--borde-drawer);
}

.navmenu-container ::deep .mud-nav-group .mud-nav-link {
    font-weight: 500;
    color: var(--text-primary) !important;
}

.navmenu-container ::deep .mud-nav-group .mud-nav-link .mud-nav-link-icon {
    color: var(--text-secondary) !important;
}